.loginContainer {
    align-items: center;
    text-align: center;
    margin-left: 20px;
    width: 30rem;
    height: auto;
}
.loginHeader{
    width: 25rem;
    margin-top: 8rem;
    margin-left: 3rem;
}