.ContainerAll1{
    background-color: #ffffff;
    margin-left: 10rem;
    width: 80rem;
    height: 41rem;
}

h3{
    margin-top: 0.5rem;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #000000;
}

button{
    margin-left: 8rem;
    margin-top: 30px;
    background-color: #00E8FF;
    color: #000;
    cursor: pointer;
    border-radius: 5rem;
    border: #000000;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
}
li {
    list-style: none;
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #0AFF38;
    color: #000000;
    transition: 600ms;
}
.ContainerButtons1{
    margin-top: 8rem; 
    margin-left: 8rem;
}
.Input1{
    border: 2px solid #00E8FF;
    border-radius:  0.5em;
    background-color: #ffffff;
    height: 30px;
    width: 400px;
    font-size: 1rem;
    margin-top: 30px;
}

.MissedButtonContent1{
    margin-top: 12px;
    color: #0abccc;
    margin-left: 65px;
    font-size: 1.5em;
    width: auto;
    height: 1rem;
}
.AccountLoginContent1{
    margin-left: 8rem;
    margin-top: 30px;
    background-color: #2ac9e6;
    width: 10rem;
    height: 35px;
    text-align: center;
    border-radius: 2em;
    font-size: 1.5em;
}

.redirectReg1{
    display: flex;
    justify-content: center;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 24rem;
    height: 2rem;
    align-items: center;
    background-color: #00E8FF;
    color: #000000;
    border-radius: 5rem;
    justify-content: center;
    cursor: pointer;
    margin-right: none;
}

a:hover{
    background-color: #0AFF38;
    color: #000000;
    transition: 600ms;
}

.NewAccountButtonContent1{
    margin-left: 10rem;
    margin-top: -15px;
    background-color: #2ac9e6;
    width: 200px;
    height: 65px;
    text-align: center;
    border-radius: 3em;
    font-size: 1.5em;
}

.MissedButtonContent1:hover, 
.NewAccountButtonContent1:hover, 
.AccountLoginContent1:hover{
    cursor: pointer;
}
  
.DecorationPlaceHolder1{
    color: #6262625d;
    margin-left: 3rem;
    margin-top: 0rem;
    font-size: 1.5em;
} 





@media screen and (max-width: 992px) {

  }
  
@media screen and (max-width: 600px) {

  }